* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1{
	padding: 80px 0 80px 0;
	margin: 0;
	color: white;
	font-family: Helvetica;
	font-size: 40px;
	text-align: center;
	font-weight: 400;
}
h1 > span{
	color: red;
}
h3{
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 600;
}


/*********************************************
*************NAV HEADER HOME******************
*********************************************/

.nav{
	z-index: 3;
	position: fixed;
	height: 100px;
	width: 100%;
	background: rgba(0,0,0,0.65);
}
.nav_container{
	width: 95%;
	margin: 0 auto;
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.nav_logo{
	width: 33%;
	position: relative;
}
.nav_logo > img{
	top: 50%;
	position: absolute;
	transform: translate(-0, -50%);
}
.nav_menu{
	max-width: 66%;
	width: 100%;
	position: relative;
	text-align: center;
}
.nav_menu ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-0%, -50%);
	max-width: 560px;
	width: 100%;
}
.nav_menu ul li{
	list-style: none;
}
.nav_menu ul li a{
	text-decoration: none;
	color: white;
	font-family: Helvetica;
	transition: 0.4s;
	padding: 5px 1px;
}
.nav_menu ul li a:hover{
	color: red;
	border-bottom: 2px solid red;
	transition: .6s;
}
.nav_menu ul li a.active{
	color: red;
	border-bottom: 2px solid red;
}

.nav_burger{
	position: relative;
	top: 50%;
	height: 45px;
	width: 45px;
	transform: translate(0, -50%);
	display: none;
}
.burger_button{
	position: absolute;
	display: block;
	height: 40px;
	width: 40px;
	top: 50%;
	right: 20px;
	transform: translate(0%, -50%);
	border-radius: 50%;
	cursor: pointer;
}
.burger_button:hover .burger_line{
	filter: brightness(0.7);
}
.burger_line,
.burger_line::before,
.burger_line::after{
	position: absolute;
	width: 25px;
	height: 3px;
	background: white;
}
.burger_line{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.burger_line::after{
	content: '';
	top: 10px;
}
.burger_line::before{
	content: '';
	top: -10px;
}
.burger_menu_active .burger_line{
	background-color: transparent;
}

.burger_menu_active .burger_line::before{
	transform: rotate(45deg);
	top: 0;
}
.burger_menu_active .burger_line::after{
	transform: rotate(-45deg);
	top: 0;
}

#home{
	background: url(img/home-bg.jpg) center no-repeat;
	height: 700px;
	position: relative;
	background-size: cover;
}
#home:after{
	content: '';
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background: rgba(255,0,0,0.6);
}


/**********************************************
****************SLIDER*************************
**********************************************/

.slider{
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 450px;
	bottom: 0;
}
.slider_container {
	position: relative;
	width: 100%;
	margin: 0 auto;
	font-family: Helvetica;
	height: 250px;
	color: white;
	font-size: 110px;
	overflow: hidden;
	margin-bottom: 150px;
}
.slider_wrrap{
	width: 300%;
	position: absolute;
	display: flex;
	transition: all ease 1s;
}
.slider_wrrap > div{
	margin-top: 10px;
	height: 120px;
	max-width: 100%;
	width: 100%;
	text-align: center;
}
.X1{
	color: red;
}
.slider_text{
	color: white;
	font-size: 30px;
}
.slider_button{
	width: 100%;
	text-align: center;
}
.slider_button > input{
	width: 120px;
	border: 1px solid grey;
	height: 9px;
	cursor: pointer;
	border-radius: 4px;
}
.button_active{
	background: black;
	border: 1px solid grey;
}




/**********************************
*************OUR SERVICES**********
**********************************/
#services{
	width: 100%;
	background: black;
}
.services_items{
	max-width: 95%;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	color: white;
	font-family: Helvetica;
	padding-bottom: 100px;
}
.services_item{
	max-width: 23%;
	width: 100%;
	padding: 20px;
	text-align: center;
	border: 2px solid red;
	transition-duration: 0.8s;
	cursor: pointer;
}
.services_item:hover{
	border: 2px solid white;
}
.services_item > img{
	margin-bottom: 20px;
}
.services_item > p{
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 30px;
}
.services_item > a{
	font-size: 14px;
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	font-weight: 600;
	background: red;
	color: white;
	transition: 0.5s;
}
.services_item > a:hover{
	background: white;
	color: black;
}


/***********************************
**************OUR TEAM**************
***********************************/

#team{
	width: 100%;
	background: url(img/team-bg.jpg) no-repeat;
	background-size: cover;
}
.team_items{
	max-width: 95%;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	color: white;
	font-family: Helvetica;
	margin-bottom: 80px;
}
.team_item{
	max-width: 23%;
	min-width: 220px;
	width: 100%;
	text-align: center;
	cursor: pointer;
}
.team_item:hover .classIcon{
	opacity: 100;
	transition: .4s;
}
.team_item:hover .team_icons{
	padding-top: 15px;
	border-top: 7px solid rgba(255,0,0,0);
	border-bottom: 7px solid rgba(255,255,255,100);
	border-bottom: 7px solid;
}
.team_photo{
	height: 220px;
	width: 220px;
	margin: 0 auto;
	margin-bottom: 15px;
}
.team_photo > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.team_position{
	margin: 0 auto;
	font-size: 24px;
	font-family: Helvetica;
	max-width: 220px;
	width: 100%;
	margin-bottom: 15px;
}
.team_item > p{
	margin: 0 auto;
	font-family: Helvetica;
	max-width: 220px;
	width: 100%;
	font-size: 17px;
}
.team_icons{
	margin: 0 auto;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: space-between;
	display: -ms-flexbox;
	display: -webkit-flex;
	max-width: 220px;
	width: 100%;
	border-top: 7px solid rgba(255,0,0,100);
	border-bottom: 7px solid rgba(255,255,255,0);
	transition: .5s;
	height: 80px;
	padding: 35px 25px 0px 25px;
}
.classIcon{
	fill: white;
	max-width: 25px;
	width: 100%;
	max-height: 25px;
	height: 100%;
	opacity: 0;
	transition: .5s;
}
.classIcon:hover{
	fill: red;
}
.team_skill{
	max-width: 90%;
	width: 100%;
	margin: 0 auto;
	color: white;
	font-size: 18px;
	font-weight: 600;
	font-family: Helvetica;
	padding-bottom: 50px;
}
.team_skill > div{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 10px;
}
.skill_name{
	max-width: 20%;
	min-width: 200px;
	width: 100%;
}
.skill_bar{
	display: flex;
	width: 75%;
	padding: 5px 0;
}
.skill_line1, .skill_line3, .skill_line5, .skill_line7{
	background: white;
	border-radius: 7px 0 0 7px;
}
.skill_line2, .skill_line4, .skill_line6, .skill_line8{
	background: red;
	border-radius: 0 7px 7px 0;
}
.skill_line1{
	width: 80%;
}
.skill_line2{
	width: 20%;
}
.skill_line3{
	width: 90%;
}
.skill_line4{
	width: 10%;
}
.skill_line5{
	width: 85%;
}
.skill_line6{
	width: 15%;
}
.skill_line7{
	width: 80%;
}
.skill_line8{
	width: 20%;
}
.skill_percent{
	min-width: 40px;
	max-width: 5%;
	width: 100%;
	text-align: center;
}


/**********************************
**************OUR GALERRY**********
**********************************/

#gallery{
	width: 100%;
	background: black;
}
#gallery > p{
	max-width: 90%;
	width: 100%;
	margin: 0 auto;
	color: white;
	text-align: center;
	font-family: Helvetica;
	font-size: 14px;
	margin-bottom: 40px;
}
.gallery_menu{
	width: 95%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.gallery_menu > a{
	color: white;
	font-family: Helvetica;
	text-decoration: none;
	max-width: 180px;
	width: 100%;
	border: 1px solid red;
	transition: 0.5s;
	font-size: 14px;
	padding: 12px 8px 12px 8px;
	cursor: pointer;
	margin-bottom: 30px;
}
.gallery_menu > a:hover{
	background: red;
}

.gallery_portfolio{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.gallery_portfolio > div{
	position: relative;
	width: 20%;
	margin: 0;
	font-size: 25px;
	height: 20vw;
}
.gallery_portfolio > div > img{
	width: 100%;
	height: 100%;
	position: absolute;
}
.gallery_portfolio > div > div{
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0;
	cursor: pointer;
	transition: 0.8s;
}
.gallery_portfolio > div > div:hover{
	background: rgba(255,0,0,0.6);
	opacity: 100;
	transition: 0.6s;
}
.gallery_portfolio > div > div:hover > a{
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.gallery_portfolio > div > div > a{
	padding: 0px 7px 0px 7px;
	background: black;
	transition: 0.7s;
	position: absolute;
	left: 50%;
	top: 35%;
	transform: translate(-50%, 0%);
}
.gallery_portfolio > div > div > a:hover{
 	background: red;
}
.gallery_modalWindow > div{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 5;
	display: none;
	cursor: pointer;
}
.gallery_modalWindow > div > img{
	width: 450px;
	height: 450px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/**************************************
**************OUR PRICE****************
**************************************/

#Price{
	width: 100%;
	background: black;
}
.price_container{
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	max-width: 90%;
	width: 100%;
	margin: 0 auto;
}
.price_container > div{
	position: relative;
	max-width: 350px;
	width: 100%;
	background: rgb(232,228,228);
	margin: 0 15px;
	text-align: center;
	margin-bottom: 50px;
	padding-bottom: 110px;
}
.price_package{
	padding-top: 25px;
	transition: .5s;
	background: rgb(255,1,1);
}
.price_package:hover{
	background: rgba(51,51,51);
}
.price_package_name > p{
	color: white;
	font-size: 22px;
	font-family: Helvetica;
	text-align: center;
	margin-bottom: 25px;
}
.price_package_name > svg{
	max-width: 40px;
	width: 100%;
	max-height: 40px;
	height: 100%;
	fill: white;
	margin-bottom: 25px;
}
.price_package_cost{
	display: flex;
	justify-content: space-between;
}
.price_package_cost > div{
	color: white;
	font-family: Helvetica;
	position: relative;
	margin-bottom: 25px;
}
.cost_dollar{
	text-align: right;
	max-width: 39%;
	width: 100%;
	font-size: 25px;
	flex-shrink: 40;
}
.cost_money{
	font-size: 70px;
	min-width: 20%
}
.cost_month{
	font-size: 25px;
	text-align: left;
	top: 100%;
	max-width: 39%;
	width: 100%;
	flex-shrink: 35;
}
.cost_month_text{
	position: absolute;
	top: 100%;
	transform: translate(0, -100%);
}
.price_shortList{
	width: 100%;
	background: rgb(232,228,228);
	font-size: 14px;
	font-family: Helvetica;
	line-height: 60px;
}
.price_button{
	background: rgb(232,228,228);
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translate(-50%,0);
}
.price_button > a{
	text-decoration: none;
	display: inline-block;
	padding: 20px 14px;
	background: black;
	color: white;
	font-family: Helvetica;
	font-size: 17px;
	font-weight: 600;
}
.price_button > a:hover{
	background: rgba(242,1,1);
}

/*********************************
**********OUR CONTACT*************
*********************************/


#contact{
	width: 100%;
	background: black;
}
#contact_map{
	width: 100%;
	height: 300px;
	margin: 0 auto;
	margin-bottom: 70px;
}
.contact_form{
	width: 90%;
	margin: 0 auto;
	padding-bottom: 50px;
}
.contact_dataOfClient{
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 30px;
}
.contact_dataOfClient > div{
	min-width: 32%;
	width: 100%
	height: 100%;
}
.contact_dataOfClient > div > p, .contact_Massage > p{
	font-size: 18px;
	font-family: Helvetica;
	color: white;
	margin-bottom: 8px;
}
.contact_dataOfClient > div > input{
	height: 40px;
	width: 100%;
	padding: 0 15px;
	border: none;
}
.contact_dataOfClient > div > input:focus, .contact_Massage > textarea:focus{
	box-shadow: 0 0 10px rgba(255,0,0);
	outline: none;
}
.contact_Massage{
	width: 100%;
	margin-bottom: 40px;
}
.contact_Massage > textarea{
	width: 100%;
	height: 250px;
	padding: 20px;
	resize: none;
}
.contact_button{
	max-width: 200px;
	font-size: 24px;
	font-family: Helvetica;
	width: 100%;
	background: rgba(255,0,0);
	color: rgb(255,255,255);
	border: none;
	padding: 10px 25px;
	cursor: pointer;
}

/***********************************
************FOOTER******************
***********************************/

footer{
	width: 100%;
	background: rgb(255,0,0);
	display: flex;
	justify-content: space-between;
}
.footer{
	width: 90%;
	height: 100%;
	margin: 0 auto;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
}
.footer_logo{
	position: relative;
	max-width: 25%;
	min-width: 185px;
	width: 100%;
	height: 90px;
}
.footer_logo > img{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}
.footer_text{
	max-width: 55%;
	min-width: 185px;
	width: 100%;
	height: 90px;
	color: white;
	text-align: center;
	font-family: Helvetica;
	font-size: 16px;
	padding-top: 40px;
}
.footer_icons{
	display: flex;
	justify-content: center;
	max-width: 20%;
	width: 100%;
	height: 90px;
}
.footer_icons > div{
	position: relative;
	height: 100%;
	width: 35px;
}
.footer_icons > div > a{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.footer_icon{
	width: 22px;
	max-height: 22px;
	height: 100%;
	fill: white;
}
.footer_icon:hover{
	fill: black;
}


@media (max-width: 745px){
	.nav_wrrap{
		width: 100%;
	}
	.nav_container{
		width: 100%;
	}
	.burger{
		display: block;
		height: 100%;
		width: 20%;
		background-color: rgba(118,122,120);
	}
	.burger_button{
		right: 15px;
	}
	.nav_logo{
		padding-left: 15px;
		width: 80%;
		background-color: rgba(118,122,120);
	}
	.nav_menu{
		min-width: 100%;
		width: 100%;
		min-height: 200px;
		height: 100%;
		z-index: -1;
		right: 0;
		position: absolute;
		background-color: rgba(118,122,120,0.8);
	}
	.nav_menu ul{
		display: flex;
		justify-content: space-between;
		height: 100%;
		min-width: 100%;
		width: 100%;
		flex-flow: column;
	}
	.nav_menu ul li a{
		text-decoration: none;
		color: white;
		font-family: Helvetica;
		transition: 0.4s;
		display: inline-block;
		width: 100%;
		min-height: 100%;
	}
	.nav_menu ul li{
		min-height: calc(100%/6);
		height: 100%;
	}
	.nav{
		background-color: rgba(118,122,120);
	}
}

@media (max-width: 900px){
	.services_items{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.services_items .services_item{
		max-width: 60%;
		width: 100%;
		margin-bottom: 30px;
	}
	.team_item{
		margin-bottom: 20px;
	}
}
@media (max-width: 600px){
	.gallery_menu{
		flex-direction: column;
		align-items: center;
	}
	.gallery_menu a{
		font-size: 13px;
		padding: 10px 6px 10px 6px;
		max-width: 60%;
		width: 100%;
	}
	.services_items .services_item{
		max-width: 80%;
		width: 100%;
	}
	.team_items{
		flex-direction: column;
		align-items: center;
	}
	.team_skill{
		font-size: 15px;
	}
	.team_skill > div{
		flex-direction: column;
	}
	.skill .skill_bar{
		width: 100%;
		height: 20px;
	}
	.skill_percent{
		margin-left: auto;
	}
	.slider_container {
		font-size: 55px;
	}
	.slider_text{
		font-size: 23px;
	}
	.slider_button > input{
		width: 80px;
	}
	.price_package_name > p{
		font-size: 20px;
	}
	.cost_dollar{
		font-size: 20px;
	}
	.cost_money{
		font-size: 55px;
	}
	.cost_month{
		font-size: 20px;
	}
}
